#registration{
    font-size:43px;
    font-weight:700;
    border-bottom-style:ridge;
}
*{
    margin:0px;
    padding:0px;
}
#involve{
    background-image:url('IMAGES/vol1.png');
    background-attachment:fixed;
  background-size:cover;
    font-family:new time roman;
   
}
#form{
    background-color:#84e184;
    width:500px;
    min-height:900px;
    margin-top:10px;
}