<!DOCTYPE html>
<html>
  <head>
    <title>Upload</title>
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <style>
      body {
        padding-top: 80px;
        word-wrap: break-word;
      }
    </style>
    <script src="https://kit.fontawesome.com/5a38767ab2.js" crossorigin="anonymous"></script>
  </head>
  <body>

    <div class="container">
      <div class="page-header text-center">
        <h1><span class="fas fa-cloud-upload-alt"></span> Upload Image</h1>
        <a href="/club/message/logout" class="btn btn-warning">Logout</a>
       <!-- <a href="/club/message" class="btn btn-danger">Back</a> -->
      </div>

      <!-- <div class="row"> -->
        <!-- GOOGLE INFORMATION -->
        <!-- <div class="col-sm-6">
          <div class="well">
            <h3 class="text-danger">
              <span class="fa fa-google-plus"></span> Google
            </h3>

            <p>
              <strong>name</strong>: <%= name %>
              <br />
              <strong>pic:</strong>:
              <img src="<%=pic%>" width="200" height="200" alt="" />
            </p>
          </div>
        </div> -->

        <div style="text-align: center; alignment-baseline: central; align-items: center;" class="col-sm-6">
          <div class="well">
            <h3 class="text-danger">
              <span class="fab fa-google"></span> Upload File to Google
              Drive
            </h3>

            <% if (success) { %>
            <div class="alert alert-success alert-dismissible">
              <a href="#" class="close" data-dismiss="alert" aria-label="close"
                >×</a
              >
              <strong>Success!</strong> Your Image File is Uploaded.
            </div>
            <%}%>
            <form action="/club/message/upload" method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <input
                  type="file"
                  class="form-control"
                  name="file"
                  required
                  id=""
                />
              </div>
              <div class="form-group">
                <button  class="btn btn-block btn-danger btn-success">
                  Upload File
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</html>