.navbar-dark {
    background-color: #4C4C4C;
}
.navbar-brand {
    font-size: 200%;
}

.counter .counter-lg {
    top = -24px !important;
}

.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #C8d5b9;
}

body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.cont {
    font-size: 140%;
}

.noti {
    background-color: red;
    color: white;
    border-radius: 20px 20px 20px 20px;
    padding: 4px 4px 4px 4px;
    font-size: 60%;
}

.footer {
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.fon {
    font-family: "Bebas Neue";
}

#head {
    font-size: 400%;
}

#des {
    font-size: 150%;
}

.add {
    color: #4C4C4C;
}

.add:hover {
    color: black;
    text-decoration: none;
}